body {
    font-family: system-ui, sans-serif;
    background-color: #f9f9f9;
    padding: 2rem;
    margin: 0;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    padding: 0;
    margin-bottom: 1rem;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
  }
  nav a {
    text-decoration: none;
    color: #cc00be;
    padding: 1rem;
  }
  
  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
    margin-bottom: 5rem;
  }
  
  .card {
    background: #fff;
    border-radius: 0.5rem;
    border: 2px solid transparent;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
  }
  
  .card-img {
    width: 100%;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
  }
  
  .card-header {
    font-size: 1.25rem;
    margin: 0.5rem 0;
  }
  
  .card-content {
    font-size: 0.95rem;
    color: #555;
    margin-bottom: 1rem;
  }
  
  .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    padding-top: 1rem;
  }
  
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .btn {
    text-transform: capitalize;
    padding: 0.5rem 1rem;
    border: transparent;
    border-radius: 0.5rem;
    letter-spacing: 2px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .btn-1 {
    background: #d6a7a7;
    color: #fd0202;
  }
  
  .btn-2 {
    background: #ceeff9;
    color: #072af1;
  }
  
  .btn-3 {
    background: #d8fadc;
    color: #00fe55;
  }
  
  .btn-4 {
    background: #faf8e0;
    color: #ffcc00;
  }
  
  .btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  }
  
  iframe {
    resize: both;
    overflow: auto;
    border: 1px solid #ccc;
    border-radius: 0.4rem;
    margin-top: 1rem;
  }
  
  @media screen and (max-width: 650px) {
    .card-container {
      grid-template-columns: 1fr;
    }

  }
  .card-1{
    border-color: #fd0202;
  }

  .card-2{
    border-color: #072af1;
  }

  .card-3{
    border-color: #00fe55;
  }

  .card-4{
    border-color: #ffcc00;
  }